<div id="<%= dom_id recipe %>" class="recipe-card">
   <div class="summary">
   <%= link_to  recipe do %>
       <%= recipe.name %>
       <div class="btns">
      <%end%>
       </div> 
   </div>
   <div class="description">
     <%= recipe.description %>
   </div>
</div>
